
.container img {
    width: 100%;
    height: auto;
}

thead {
    font-weight: bold;
    font-size: 0.8em;
}

.i {
    font-style: italic;
}

.b {
    font-weight: bold;
}

li {
    margin: 5px auto;
}

    li:hover {
        background-color: #f5f5f5;
    }